.jumbotron {
/*    background-image: url('../img/pizza-overhead.jpg');
    color: black;
    opacity: 0.5;
*/    }


legend {
    font-size: 1rem;
}

.hidden {
    display: none;
}

/*.visible {
    display: visible;
}*/

.validation-msg {
    color: red;
    font-size: .6em;
}

table {
    width: 100%;
}

.left-col {
    width: 60%;
}

.right-col {
    width: 40%;
}

.line {
    border-bottom: solid 1px gray;
    height: 10px;
}

.total-row td {
    font-weight: bold;
}

#flex-row {
    justify-content: space-between;
}

.running-total {
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
    height: 25vh;
    margin-right: 4%;
}